* {
    margin: 0;
    padding: 0;
}

body {  
    height: 100%;
    width: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,0,0,1) 50%, rgba(5,255,0,1) 50%, rgba(255,255,255,1) 100%);
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BaseButton {
    border-radius: 10%;
    padding: 5px;
    border: solid darkblue 2px;
    background-color: blue;
    margin: 10px;
}

.linkToText {
    color:white;
    font-weight: bold;
    background-color: blue;
    text-decoration: none;
}

#divisio {
    height: 100px;
    width: 2px;
    background-color: gray;
}

.textBox {
    display: none;
    height: 20vh;
    width: 30vw;
    border: solid black 2px;
    position: absolute;
    top: 70%;
    left: 5%;
    background-color:wheat;
    flex-direction: row;
}

.textBox > img {
    height: 20vh;
}

.textBox > p {
    padding: 2%;
}

/*****************************************************************/


